//Zoomed Images
@use "../utilities/index" as *;
.zoom-gallery {
    padding: 25px;
    border-radius: 12px;
}

.zoom-email {
    text-align: center;
    margin-bottom: 20px;
}

.zoom-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.zoom-grid-img {
    width: 25%;
    height: 25%;
    padding: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: zoom-in;
    transition: 0.2s;
}

.zoom-grid-img:hover {
    transform: scale(1.10);
}

.ja_body {
    background-color: $surface-color;
}

.closejAlert {
    display: none;
}

.ja_wrap.ja_wrap_black {
    cursor: pointer;
}

.jAlert {
    width: 80%;
}