//Variables
//Colors throughout the page
$background-color: #5a5b5c;
$surface-color: #e4e3e3;
$base-font-color: #000000;
$secondary-font-color: #ffffff;
$subtitle-color: #6b7280;
$success-color: #16a34a;
$failure-color: #dc2626;
$primary-color: #4f46e5;
$primary-focus: #4338ca;

//Text-families
$default-text-family: 'Inter', sans-serif;
$default-text-size: 0.875rem;
$default-text-weight: 400;
$default-text-lineheight: 1.1;
$default-text-letterspacing:0.4px;